.tag {
  border-radius: 10px;
  padding: 0 10px;
  background-color: white;
  color: black;
}
.html {
  background-color: red;
}

.css,
.scss {
  background-color: plum;
}

.javascript {
  background-color: yellow;
}

.react {
  background-color: skyblue;
}

.vue {
  background-color: green;
}

.angular {
  background-color: tomato;
}
