.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--mustard-color);
  color: black;

  input[type='submit'] {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    background: black;
    color: var(--mustard-color);
    font-weight: bold;

    &:focus {
      outline: none;
      opacity: 0.7;
    }
  }

  &__container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__field {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
    position: relative;

    label {
      position: absolute;
      top: -10px;
      background: var(--mustard-color);
      left: 20px;
      padding: 0 5px;
    }

    input {
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      background: var(--mustard-color);

      &:focus {
        outline: none;
        box-shadow: 10px 5px 5px black;
      }
    }

    textarea {
      height: 100px;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      background: var(--mustard-color);

      &:focus {
        outline: none;
        box-shadow: 10px 5px 5px black;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .form {
    &__container {
      width: 350px;
    }

    &__field {
      width: 100%;
    }
  }
}
