:root {
  --mustard-color: #f3ca20;
  /* --blue-night-color: #09033b; */
}

* {
  font-family: 'Nunito Sans';
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

section {
  padding-bottom: 30px;
}

h2 {
  font-size: 24px;
  text-align: center;
}
