.card {
  border-radius: 25px;
  display: flex;
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: filter 0.3s ease;
  width: 330px;

  &:hover &__content {
    transform: translateY(calc(100% - 24.5rem));
    transition-delay: 0.1s;
  }

  &:hover &__cover {
    filter: brightness(50%);
  }

  &__cover {
    filter: brightness(85%);
    height: 100%;
    position: absolute;
  }

  &__content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    position: relative;
    transform: translateY(calc(100% - 7.5rem));
    transition: transform 0.9s ease;
    z-index: 1;

    h3 {
      font-size: 18px;
      font-weight: 800;
      margin: 0;
      position: absolute;
      top: 15px;
    }

    p {
      text-align: center;
    }
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__link {
    display: flex;
    gap: 30px;
    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
