.card {
  border-radius: 25px;
  display: flex;
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: filter 0.3s ease;
  width: 330px;

  &:hover &__content {
    transform: translateY(calc(100% - 24.5rem));
    transition-delay: 0.1s;
  }

  &:hover &__cover {
    filter: brightness(50%);
  }

  &:hover &__content-txt {
    visibility: visible;
    transition: 0.9s ease;
  }

  &__cover {
    filter: brightness(85%);
    height: 100%;
    position: absolute;
  }

  &__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    position: relative;
    transform: translateY(calc(100% - 7.5rem));
    transition: transform 0.9s ease;
    gap: 30px;

    &-title {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      h3 {
        font-size: 18px;
        font-weight: 800;
        margin: 0;
      }
    }

    &-txt {
      visibility: hidden;
      padding: 0 10px;
      p {
        text-align: justify;
      }
    }
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
  }

  &__link {
    display: flex;
    gap: 30px;
    justify-content: center;
    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
