.carrousel {
  background-image: url('../../../public/images/bg-projects.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    position: relative;
    .chevron {
      position: absolute;
      z-index: 999999999999999;
      top: 50%;
      width: 20px;
      height: 20px;
    }

    .chevron-left {
      left: 1%;
    }

    .chevron-right {
      right: 1%;
    }
  }

  &__project {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 15px;
  }
}

@media screen and (min-width: 600px) {
  .carrousel {
    &__project {
      grid-template-columns: 1fr 1fr;
    }
  }
}
